*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.grid-container{
    background-image: url(../img/fondo.jpg);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    grid-area:header;
    
}
main{
   grid-area: main;
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-bottom: 10px;
 
}

main img{
        width: 50%;
        height: 50%;
        margin-left: 25%;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.logo img{
   height: 50px;
   margin-right: 10px;
}

.navEnlace{
    background-color:orange;
    width:15%;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    color: white;

}

.navEnlace:hover{
    background-color: black;
}
.pan{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    padding: 10px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
        background-color: whitesmoke;
        color: rgb(0, 0, 0);
        border:1px solid;
        margin: 0%;
        padding: 10px;
        box-shadow: 10px 10px 5px #888888;
        box-sizing: border-box;
        font-size: 20px;
        width: 25%;
        margin-top: 20px;
       
}
.box:hover{
        transform:translateY(8px)
}
    
.box img{
        width: 120px;
        height: 120px;
}
    

form{
        width: 400px;
        padding: 40px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        color: rgb(5, 5, 5);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
}

.f{
        width: 100%;
        padding: 5px;
        margin: 5px;
        background-color:white;
        margin-bottom: 16px;
 }

footer{
    grid-area: footer;

}
@media(max-width:720px){
    .grid-container{
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 150px auto 100px;
   grid-template-areas: "header header"
                        "main main" 
                        "footer footer";
    }
    header{
        flex-direction: column;
    }
    .navEnlace{
        padding: 10px 0px ;
    }
    .contenedor{
        flex-direction: column;
}
    .box img{
        width: 30px;
        height: 50px;
    }
}


